
   <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
   
   
   
   
   <body>
<div class="wrapper">
  <div class="box1">
<div id="white">
  <div align="center">
    <span><img src="../assets/Caps.jpg" style="width: 20%" id="pic" > Boikanyo Mosime </span> <br> <br>
    </div>

    &#160; &#160;&#160;&#160;&#160;&#160;
    &#160;&#160;&#160;&#160;&#160;
    &#160;&#160;&#160;&#160;&#160;&#160;&#160;
    &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
    &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<i class="fa fa-phone"><br> 078 007 3762</i>
    &#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
    &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<i class="fa fa-envelope"><br>kanyos1994@gmail.com </i></div>
  
  </div>

   
   
   
   
   
   

    <div class="box2">
      <h2><u>Personal Profile</u></h2>
      <hr>
      <p>I am a career driven South African young man who makes sure the he aquires more knowledge in everything he can. I can also adapt on any type of situation or pressure. I taught myself how to use a computer at an early age. I'm passionate about knowing more in the IT world and giving my knowledge. I have Code 10 driver's license and a Certificate in people's skills, work skills and money skills
      </p>
      <br>
      <h2><u>Work Skills</u></h2>
      <hr>
      <p>   CSS 60%
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<progress value="60" max="100" >80%
      </progress></p>
      <p>HTML 70%
        &#160;&#160;&#160;&#160;&#160;<progress value="70" max="100" ></progress>
      </p>
      <p>Vb.Net 60%
        &#160;&#160;&#160;&#160; <progress value="68" max="100" ></progress>
      </p>
      <p>Photoshop 80%
        <progress value="80" max="100" ></progress>
      </p>
      <br>
      <h2><u>Reference</u></h2>
      <hr>
      <p>Mr OL MokgotsiICT<br> Senior lecturer<br>     George Tabor Campus   <br>     South West Gauteng College  <br>      1440 Mnube Drive   <br>     DUBE (Soweto) 1868     <br>   Tel: 011 572  8300(w) | Cell: 076 448<br>E-mail:<u>othinieln@gmail.com</u> </p>
      
      
      
    </div>
    <div class="box3">
      <h2><u>Educational Background</u></h2>
      <hr>
      <p>
      Grade 12 Certificate.<br>
      
      National Certificate Vocational<br>
      NCV(2)<br> It was the intruduction IT<br>
      NCV(3)<br> I studying the Principles of IT<br>
      NCV(4)<br> This where we do the services of IT in the workplace<br>
      
      IT Essentials From Cisco Academy<br>
      I did troubleshooting of the computer and maintainence.
      </p>
      <h2><u>Personal Skills</u></h2>

      <hr>
      <p>   People skills 70%
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;<progress value="70" max="100" >80%
        </progress></p>
        <p>Money Skills 82%
         &#160; &#160;  &#160;&#160;  <progress value="82" max="100" ></progress>
        </p>
        <p>Work Skills 78%
          &#160; &#160;  &#160; &#160;&#160;&#160;<progress value="78" max="100" ></progress>
        </p>
        <p>Creativity 68%
          &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; <progress value="68" max="100" ></progress>
        </p>
        <p>Stamina 78%
          &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<progress value="78" max="100" ></progress>
        </p>
        <p>Flexability 75%
          &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; <progress value="75" max="100" ></progress>
        </p>

<br>
<h2><u>Hobbies</u></h2>


        <hr>
        <h3><i class="fa fa-headphones"><br>Listening to music </i></h3>
        <h3><i class="fa fa-book"><br>Reading Books </i></h3>
        <h3><i class="fa fa-camera"><br>Taking Pictures </i></h3>

    </div>
  
  </div>
  </body>