<div class="body2">
 

<table align="center" border="1px">
      
    <div style="text-align: left">
    <table style="width:100%">
<br>
<h3><u>Qualifications</u></h3>
<br>
<tr>
  <td>Last School Attended</td>
  <td>Morris Isaacson High School</td> 
  
</tr>
<tr>
  <td>Highest Grade Passed</td>
  <td>Grade 12</td> 
  
</tr>
<tr>
  <td>Year</td>
  <td>2012</td> 
  
</tr>
<br>
<p><b><u>South West Gauteng College</u></b></p>
<tr>
  <td>2015 Passed</td>
  <td>NCV(2)</td> 
  
</tr>
<tr>
  <td>2016 Passed</td>
  <td>NCV(3)</td> 
  
</tr>
<tr>
  <td>2017 Passed</td>
  <td>NCV(4)</td> 
  
</tr>
<tr>
  <td>Subjects Passed</td>

  <td>System Analysis</td> 
  
</tr>
<tr>
  <td></td>
  <td>Computer Programming</td> 
  
</tr>
<tr>
  <td></td>
  <td>Mathematics</td> 
  
</tr>
<tr>
  <td></td>
  <td>Life Orientation</td> 
  
</tr>
<tr>
  <td></td>
  <td>Data Communication and Networking</td> 
  
</tr>
<tr>
  <td></td>
  <td>English</td> 
  
</tr>
<tr>
  <td></td>
  <td>Multimedia service</td> 
  
</tr>
<tr>
<td><p>Cisco Academy</p>
<p>IT Essentials</p></td>
</tr>
<tr>
  <td>Duration</td>
  <td>6 Months</td> 
  </tr>
  </table>
  
  <style>
      * {box-sizing: border-box}
      
      .container {
        width: 100%;
        background-color: #ddd;
      }
      
      .skills {
        text-align: right;
        padding-right: 20px;
        line-height: 40px;
        color: white;
      }
      
      .html {width: 60%; background-color: #4CAF50;}
      .css {width: 80%; background-color: #2196F3;}
      .js {width: 65%; background-color: #f44336;}
      .php {width: 60%; background-color: #5a0af0;}
      </style>

      
      <h1>My Skills</h1>
      
      <p>HTML</p>
      <div class="container">
        <div class="skills html">60%</div>
      </div>
      
      <p>CSS</p>
      <div class="container">
        <div class="skills css">80%</div>
      </div>
      
      <p>JavaScript</p>
      <div class="container">
        <div class="skills js">65%</div>
    
      
      <p>PHP</p>
      <div class="container">
        <div class="skills php">60%</div>               </div>
      
